{% extends 'base.html.twig' %}

{% block title %}RLM | assistRules.json{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>assistRules.json</h1>
        {{ form(form) }}
        <hr>
        <a href="{{ path('serverconfig_index') }}">Back to the Server Configuration Panel</a>
    </div>
{% endblock %}