{% extends 'base.html.twig' %}

{% block title %}RLM | entryRules.json{% endblock %}

{% block body %}
    <h1>entryRules.json</h1>
    {{ form(form) }}
    <hr>
    <a href="{{ path('serverconfig_index') }}">Back to the Server Configuration Panel</a>
{% endblock %}