{% extends 'base.html.twig' %}

{% block title %}Racing League Manager{% endblock %}

{% block body %}
    <h1>
        Racing League Manager
    </h1>
    <a href="{{ path('app_login') }}">
        Login
    </a>
{% endblock %}
