{% extends 'base.html.twig' %}
{% block title %}RLM | Create Championship{% endblock %}
{% block body %}
    <h1>
        Championship Creation
    </h1>
    {{ form(form) }}
    <hr>

    <a class="btn btn-info" href="{{ path('admin_home') }}">Admin Panel</a>
{% endblock %}