{% extends 'base.html.twig' %}
{% block title %}RLM | Race Creation{% endblock %}
{% block body %}
    <h1>
        Race Creation
    </h1>
    {{ form(form) }}
    <hr>
    <a class="btn btn-info" href="{{ path('admin_home') }}">Admin Zone</a>
{% endblock %}