{% extends 'base.html.twig' %}
{% block title %}Crear Campeonato{% endblock %}
{% block body %}
    <h1>
        Creacion de Carrera
    </h1>
    {{ form(form) }}
    <hr>
    <a class="btn btn-info" href="{{ path('admin_home') }}">Administracion</a>
{% endblock %}