{% extends 'base.html.twig' %}

{% block title %}RLM | Result Processing{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>
        Result Processing Stuff
    </h1>
    <ul>
        <li>
            <a href="{{ path('resultprocessing_racelist') }}">
                Process result
            </a>
        </li>
    </ul>
</div>
{% endblock %}
