{% extends 'base.html.twig' %}
{% block title %}RLM | Historic{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item">
                <a href="{{ path('user_home') }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Historic
            </li>
        </ol>
    </nav>
    <ul class="list-group">
        {% for championship in championships %}
            <li class="list-group-item">
                <a href="{{ path('historic_races', {'id': championship.id })}}">
                    {{ championship.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
