{% extends 'base.html.twig' %}

{% block title %}RLM | User Panel{% endblock %}

{% block body %}
    <h1>Welcome to Racing League Manager!</h1>
    <ul>
        <li>
            <a href="{{ path('user_teams') }}">
                Teams
            </a>
        </li>
        <li>
            <a href="{{ path('historic_championships') }}">
                Past Championships and Races Results
            </a>
        </li>
        <li>
            <a href="{{ path('message_home') }}">
                Message Board
            </a>
        </li>
    </ul>
{% endblock %}
